# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vovap\Desktop\Жепа\ИКБО-10-19\Лабы по Джаве\ПапкаДляГита\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
